

@mixin bkg_contain($url:false,$fixed:false){
	background-size: contain;
	@include bkg_center();
	@include bkg_common($url:$url,$fixed:$fixed);
}

@mixin bkg_cover($url:false,$fixed:false){
	background-size: cover;
	@include bkg_center();
	@include bkg_common($url:$url,$fixed:$fixed);
}

@mixin bkg_center(){
	background-position:center;
	background-repeat: no-repeat;
}
@mixin bkg_common($url:false,$fixed:false){
	@if($url){ background-image: url($url);}
	@if($fixed){ background-attachment:fixed; }
}

@mixin divider($icons:false){
	.divider{
		text-align:	center;
		margin:		1.5rem 0;
		height:		21px;
		
		&::before,&::after{
			display:	inline-block;
			border-top:	2px solid rgba(20, 20, 20, 0.2);
			height:		2px;
			width:		25%;
			content:	"";
		}
	
		/* Any content inside */
		/* &>*{
			// margin:		1.5rem 0;
			margin-right:10px;
			margin-left:10px;
		} */
		/* Includes icons */
		@each $icon in $icons {
			&.divider-#{$icon} {
				background-image:		url("./img/"+ $icon +".png");
				background-position:	center;
				background-repeat:		no-repeat;
				
				&::before{
					margin-right:20px;
				}
				&::after{
					margin-left:20px;
				}
			}
		}
	}

	/* Combinated with headers */
	// @for $i from 1 through 3 {
	// 	h#{$i} + .divider{ margin-top: 0; }
	// } 

}


@mixin flexContainer($flow:row wrap,$axis:space-around,$caxis:stretch){
	display: flex;
	flex-flow: $flow;
	justify-content: $axis;
	align-items: $caxis;
}