@mixin centered_background($url,$fixed){
	background-image: url($url);
	background-position:center;
	@if($fixed){ background-attachment:fixed; }
	background-size: cover;
}

@mixin divider($icons:false){
	.divider{
		text-align:	center;
		margin:		1.5rem 0;
		height:		21px;
		
		&::before,&::after{
			display:	inline-block;
			border-top:	2px solid rgba(20, 20, 20, 0.2);
			height:		2px;
			width:		25%;
			content:	"";
		}
	
		/* Any content inside */
		/* &>*{
			// margin:		1.5rem 0;
			margin-right:10px;
			margin-left:10px;
		} */
		/* Includes icons */
		@each $icon in $icons {
			&.divider-#{$icon} {
				background-image:		url("../img/"+ $icon +".png");
				background-position:	center;
				background-repeat:		no-repeat;
				
				&::before{
					margin-right:20px;
				}
				&::after{
					margin-left:20px;
				}
			}
		}
	}

	/* Combinated with headers */
	// @for $i from 1 through 3 {
	// 	h#{$i} + .divider{ margin-top: 0; }
	// } 

}


@mixin flexContainer($flow:row wrap,$axis:center,$caxis:flex-start){
	display: flex;
	flex-flow: $flow;
	justify-content: $axis;
	align-items: $caxis;
}