@import 'fonts';
@import 'mixins';

$screen-medium:550px;
$screen-large: 960px;

html,body{
	height:		100%;
	margin:		0;
	padding:	0;
}

body{
	font-family:Montserrat,sans-serif;
}

a{
	text-decoration:none;
	color: #808080;
	transition:color 0.2s;
	
	i.fa{
		transition:font-size 0.2s;
	}

	&:visited{color: #808080;}

	&:hover{
		text-decoration:underline;
		color: #000;
		transition:color 0.2s;
		i.fa{
			font-size: 2.2em;
			/* &.fa-circle{ font-size: 2.2em}
			&.fa-link{ font-size: 1.2em}

			&.fa-github{ font-size: 2.2em} */
			
			transition:font-size 0.2s;
		}
	}
}

$icons: hammers; // Just one so far!
@include divider($icons);

header.main-header{
	
	@media (orientation:landscape){
		// height:70%;
	}

	@include bkg_cover($url:'../img/IMG_0629.jpg',$fixed:true);

	border-bottom: solid 3px black;

	.header-bg-dark{
		height:100%;
		background-color: rgba(0,0,0,.6);
	
		@include flexContainer($caxis:center);

		padding:50px;

		$myheight: 150px;
		.header-title-wrapper{
			margin-bottom: $myheight/2;
		}

		.header-title{
			text-align: center;
			color: white;
			$border:4px white solid;
			border: $border;
			border-radius:5px;
			max-width: 100%;

			h1,h2{
				margin: 1rem 2rem;
				// text-transform: uppercase;				
				// font-size: 3rem;
			}
			h1.myname{ 
				font-size: 3rem;
				span.eng{display:initial;}
				span.spa{color:#ffa00c;display:none;}
				&.spa{
					span.eng{display:none;}
					span.spa{display:initial;}
				}
			}
			h1.myprofession{} 
			.mypic{
				background-color:white;
				height: $myheight;
				width: $myheight;
				// width: $myheight;
				margin-bottom: -$myheight/2;
				border:$border;
				border-radius:50%;
				&:hover{
					cursor: pointer;
				}
			}
		}
	}
	
}

.main-container{

	// @include bkg_cover($url:'../img/IMG_1243.jpg',$fixed:true);

	max-width:960px;
	margin: auto;
	// border: solid 1px red;/* TEMP */
	h1{
		text-align: center;
	}
}

.boxes-container{
	// background-color:#8ae03a;/* TEMP */
	
	@include flexContainer($axis:center);
	// padding: 0 30px;

	.box-item{
		// background-color:#ffffff;/* TEMP */

		flex-basis:90%;

		margin-bottom: 20px;

		box-shadow: 0px 0 10px rgba(0,0,0,0.1);
		border: 2px solid rgba(0,0,0,0.1);
		padding: 0 0 10px 0;
		
		$trans-speed: 0.3s;

		.box-img{
			text-align: center;
			height: 100px;
			margin: 10px 10px 0 10px;
			// @include bkg_contain();
			img{
				max-height: 100%;
				max-width: 100%;
				// border:none;
				
				opacity: 0.5;
				transition: opacity $trans-speed;
			}
		}

		&:hover{
			box-shadow: 0 0 3px rgba(0,0,0,0.2);
			transition: box-shadow $trans-speed;
			.box-img img{
				opacity: 1;
				transition: opacity $trans-speed;
			}
		}


		h3.box-title{
			margin-bottom: 0px; 
			text-align:center;
			padding:0px 10px;
		}
		/* .box-list{
			column-count: 2;
			list-style: none;
		} */
		.box-links{
			text-align: center;
			// a{
			// 	color: #808080;
			// 	transition:color 0.4s;
			// 	&:visited{color: #808080;}
			// 	&:hover{
			// 		color: #000;
			// 		transition:color 0.4s;
			// 	}
			// }
			.link-button{
				text-align: center;
				display: inline-block;
				margin: 10px 15px 0 15px;
				span{

				}
				
			}
		}
		.box-content{
			padding:15px 10px 0 10px;
		}
	}
	@media (min-width: $screen-medium){
		.box-item{
			margin-left: 10px;
			margin-right: 10px;
			flex-basis:45%;
		}
	}
	@media (min-width: $screen-large){
		.box-item{
			margin-left: 10px;
			margin-right: 10px;
			flex-basis:30%;
		}
	}
}

footer{
	margin-top: 20px;
	background-color: #d7dbe2;
	@include flexContainer();

	.disclaimer{
		// border: solid 1px red; /* TEMP */
		margin: 30px 0;
	}
}